.category-section{
   
    .feature-product{
        .product-item{
            .product-photo{
                padding-top: 130%;
                position: relative;
                margin-bottom: 1rem;
                figure{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow: hidden ;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover; 
                        &.hover-img{
                            position: absolute;
                            z-index: -1;
                            left: 0;
                            top: 0;
                            transition: z-index .3s ease,transform .3s ease, opacity .3s ease;
                            opacity: 0;
                        }
                    }
                }
                .product-label {
                    position: absolute;
                    left: 0;
                    top: 1rem;
                    background: $primary;
                    z-index: 44;
                    padding: 4px 8px;
                    border-radius: 0 5px 5px 0;
                    color: #fff;
                    a{
                        color: #fff;
                        display: inline-block;
                    }
                }
            }
            .product-content{
                h4{
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    text-transform: capitalize;
                    font-weight: 500;
                    opacity: .9;
                }
                span{
                    font-size: .875rem;
                    opacity: 0.65;
                }
            }
            &:hover{
                .product-photo{
                    figure{
                        .hover-img{
                            z-index: 2;
                            transform: scale(1.05);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &.laptop{
        img{
            opacity: .85;
        }
    }
}