.category-section{
    .feature-product{
        .product-item{
            .product-photo{
                padding-top: 75%;
                position: relative;
                margin-bottom: 1rem;
                figure{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    overflow: hidden ;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover; 
                        &.hover-img{
                            position: absolute;
                            z-index: -1;
                            left: 0;
                            top: 0;
                            transition: z-index 2s ease,transform 1.5s ease, opacity 1s ease;
                            opacity: 0;
                        }
                    }
                }
            }
            .product-content{
                h4{
                    font-size: 1.5rem;
                    margin-bottom: 0.75rem;
                }
                span{
                    font-size: 1rem;
                    opacity: 0.85;
                }
            }
            &:hover{
                .product-photo{
                    figure{
                        .hover-img{
                            z-index: 2;
                            transform: scale(1.05);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}