body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $black;
    color: $white;
}
img{
  width: 100%;
  height: auto;
}
a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
html {
    scroll-behavior: smooth;
  }
.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.4s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.4s ease;
    transition: transform 0.3s ease, opacity 0.4s ease;
    transition: transform 0.3s ease, opacity 0.4s ease, -webkit-transform 0.3s ease;
    z-index: 99999;
}
.cursor-active {
    -webkit-transform: translate(-50%, -50%) scale(8);
    -ms-transform: translate(-50%, -50%) scale(8);
    transform: translate(-50%, -50%) scale(8);
    opacity: .1; }


    // new

    .circle-container {
      background: transparent;
      position: fixed;
      right: 50px;
      bottom: 50px;
      height: 46px;
      width: 46px;
      cursor: pointer;
      display: block;
      border-radius: 50px;
      box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
      z-index: 10000;
      opacity: 0;
      visibility: hidden;
      transform: translateY(15px);
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  
      &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
      }
      svg {
          path {
              fill: none; 
          }
          &.circle-progress {
              path {
                  stroke: #d9d9d9;
                  stroke-width: 4;
                  box-sizing:border-box;
                  -webkit-transition: all 200ms linear;
                  transition: all 200ms linear;
              }
          }
      }
      .i-icon{
        position: absolute;
        top: 12px;
        left: 14px;
        transition: all 0.3s ease-in-out;
      }
      &:hover{
        .i-icon{
         opacity: 0.5;
        }
      }
  }
  .dark-background{
    background: #141414;
  }
  .inner-banner{
    height: 350px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $black;
    figure{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover; 
           object-position: center bottom;
        }
    }
    .jarallax-img{
        opacity: 1;
    }
    h2{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 55px;
    }
  }