.footer{
    margin-top: auto;
    //background: #242424;
    padding: 80px 0 10px;
    a{
      color: $white;
      opacity: 0.85;
      font-size: 1rem;
      &:hover{
        opacity: 1;
      }
    }
    .logo{
      a{
        display: block;
        max-width: 200px;
        opacity: 1;
        
      }
    }
    .column {
      .sub-title{
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    .address-bar{
      p{
        font-size: 22px;
        opacity: 0.7;
      }
    }
    .footer-bottom{
      border-top: 1px solid rgba($color: $white, $alpha: 0.15);
      padding-top: 2rem;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      .footer-social{
        a{
          opacity: 1;
          .i-icon{
            --size:1rem;
          }
          &:hover{
            color: #ffb78e;
          }
        }
      }
    }
}
