.about-card{
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.5);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
    h3{
        font-size: 1.75rem;
        font-weight: 400;
    }
    p{
        margin: 0;
    }
}
.about-section{
    border-top: 1px solid rgba($color: $white, $alpha: 0.5);
    margin-top: 3rem;
    h2{
        top: 50px;
        @include media-breakpoint-down(md){
            margin-bottom: 30px;
        }
    }
}
.about-content{
    margin-bottom: 3rem;
    h3{
       // font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1.25rem;
    }
    h4{
        font-size: 1.25rem;
       // font-weight: 200;
        margin-bottom: 0.75rem;
    }
    p{
        margin: 0;
    }
    ul{
        margin-top:2rem;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        @include media-breakpoint-down(md){
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
        li{
            margin-bottom: 0.5rem;
            position: relative;
            padding-left: 1.5rem;
            &:before{
                content: "";
                width: var(--size);
                height: var(--size);
                --size: 1rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                left: 0;
                top: 6px;
            }
        }
    }
}
.about-img{
    height: 600px;
    overflow: hidden;
    @include media-breakpoint-down(md){
        height: 350px;
    }
    figure{
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}