.contact-page-content{
    .content{
        h2{
            font-weight: 400;
            
            span{
                font-weight: 700;
                letter-spacing: 2px;
            }
            sup{
                font-size: 13px;
                top: -17px;
                right: 6px;
            }
        }
    }
    .form{
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active{
            -webkit-background-clip: text;
            -webkit-text-fill-color: #ffffff;
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 20px 20px #23232329;
        }
        label{
            opacity: 0.75 !important;
            color: #fff !important;
            padding-left: 0;
           // transform: scale(0.85) translateY(-0.75rem) translateX(0.15rem) !important;
            &:after{
                background-color: transparent !important;
            }
        }
        input, textarea, .form-select{
            background: none;
            border-radius: 0;
            border:0;
            border-bottom:1px solid rgba($color: $white, $alpha: 0.5);
            color: $white;
            padding-left: 0;
            padding-right: 0;
        }
       select option{
            margin: 40px;
            background: rgba(0, 0, 0, 1);
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            border: none;
            outline: none;
        }
        .form-floating>.form-control:not(:placeholder-shown)~label{
            transform: scale(0.85) translateY(-0.75rem) translateX(0) !important;
        }
        .form-floating>.form-select~label{
            transform: scale(0.85) translateY(-0.75rem) translateX(0.1rem) !important;
        }
    }
}